POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=prms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

JWT_ISSUER_URI=http://localhost:8080/realms/prms

SERVER_PORT=8080

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=CHANGE_ME